/* header layout */

#body-header {
    box-sizing: content-box;
    height: 400px;
    margin-bottom: 2em;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(../images/asfalt-light.png);
    background-color: #d89721;
}